$border-radius: 0.25rem;
$primary: #51ae59;
$secondary: #1b2024;
$info: #5bc0de;
$success: #5cb85c;
$warning: #f0ad4e;
$error: #d9534f;
$body-text: #ffffff;
$body-bg: #1b2024;
$headings-text: #ffffff;
$subtle-text: #dddddd;
$disabled-text: #aaaaaa;
$component-text: #ffffff;
$component-bg: #0f1114;
$header-text: #ffffff;
$header-bg: #0f1114;
$hovered-text: #ffffff;
$hovered-bg: #0f1114;
$selected-text: #ffffff;
$selected-bg: #51ae59;
$button-text: #ffffff;
$button-bg: #51ae59;
$link-text: #51ae59;
$link-hover-text: #ffffff;
$series-a: #0275d8;
$series-b: #ffd246;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #aa46be;

@import "~@progress/kendo-theme-bootstrap/dist/all.scss";